name: Benxiao Console CI
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set PENSIEVE_WORKSPACE to Github env
      run: echo "PENSIEVE_WORKSPACE=$PENSIEVE_WORKSPACE" >> $GITHUB_ENV
    - name: Print PENSIEVE_WORKSPACE
      run: echo "PENSIEVE_WORKSPACE is ${{ env.PENSIEVE_WORKSPACE }}"
    - name: Git Version
      id: gitversion
      run: |
        docker run --rm \
          -v ${{ env.PENSIEVE_WORKSPACE }}:/repo \
          registry.kinson.fun/gittools/gitversion:6.0.5-ubuntu.22.04-8.0 \
          /repo /output json > gitversion.json
    - name: Set GitVersion to environment variables
      run: |
        VERSION=$(jq -r .FullSemVer gitversion.json)
        echo "VERSION=$VERSION" >> $GITHUB_ENV
    - name: Set GitVersion to environment variables
      run: |
        echo "VERSION=${{ steps.gitversion.outputs.FullSemVer }}" >> $GITHUB_ENV
        echo "MAJOR=${{ steps.gitversion.outputs.Major }}" >> $GITHUB_ENV
        echo "MINOR=${{ steps.gitversion.outputs.Minor }}" >> $GITHUB_ENV
        echo "PATCH=${{ steps.gitversion.outputs.Patch }}" >> $GITHUB_ENV
        echo "PRE_RELEASE_TAG=${{ steps.gitversion.outputs.PreReleaseTag }}" >> $GITHUB_ENV
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag registry.kinson.fun/benxiao/benxiao-console:${{ env.VERSION }}
    - name: Push the Docker image
      run: docker push registry.kinson.fun/benxiao/benxiao-console:${{ env.VERSION }}
    - name: Set the Docker image tag to Helm chart
      run: |
        sed -i "s/{{.Image.Tag}}/${{ env.VERSION }}/" charts/benxiao-console/values.yaml
        sed -i "s/{{.Version}}/${{ env.VERSION }}/" charts/benxiao-console/Chart.yaml
    - name: Set up Helm
      uses: azure/setup-helm@v3
      with:
        version: 'v3.8.0'
    - name: Package Helm Chart
      run: |
        helm package ./charts/benxiao-console
        ls -al
    - name: Push Helm Chart to JFrog
      env:
          JFROG_URL: https://jfrog.kinson.fun/artifactory/charts/benxiao-console
      run: |
        # 获取打包后的 chart 文件名
        CHART_FILE=$(ls *.tgz)
        # 使用 curl 推送到 JFrog Helm 仓库
        curl -T "$CHART_FILE" "$JFROG_URL/$CHART_FILE"
