name: Benxiao Console CI
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PENSIEVE_EVENT: ${PENSIEVE_WORKSPACE}
    steps:
    - uses: actions/checkout@v4
    - name: Git Version
      id: gitversion
      uses: codacy/git-version@2.4.0
    - name: Set GitVersion to environment variables
      run: |
        echo "VERSION=${{ steps.gitversion.outputs.version }}" >> $GITHUB_ENV
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag registry.kinson.fun/benxiao/benxiao-console:${{ env.VERSION }}
    - name: Push the Docker image
      run: docker push registry.kinson.fun/benxiao/benxiao-console:${{ env.VERSION }}
    - name: Set the Docker image tag to Helm chart
      run: |
        sed -i "s/{{.Image.Tag}}/${{ env.VERSION }}/" charts/benxiao-console/values.yaml
        sed -i "s/{{.Version}}/${{ env.VERSION }}/" charts/benxiao-console/Chart.yaml
    - name: Set up Helm
      uses: azure/setup-helm@v3
      with:
        version: 'v3.8.0'
    - name: Package Helm Chart
      run: |
        helm package ./charts/benxiao-console
        ls -al
    - name: Push Helm Chart to JFrog
      env:
          JFROG_URL: https://jfrog.kinson.fun/artifactory/charts/benxiao-console
      run: |
        # 获取打包后的 chart 文件名
        CHART_FILE=$(ls *.tgz)
        # 使用 curl 推送到 JFrog Helm 仓库
        curl -T "$CHART_FILE" "$JFROG_URL/$CHART_FILE"
